.filled-button-cont-comp {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
