.auth-header {
  h1 {
    font-weight: 600;
    font-size: 41px;
    color: #161616;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    color: #373737;
  }
}

@media screen and (max-width: 472px) {
  .auth-header {
    h1 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 385px) {
  .auth-header {
    h1 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }
}
