.auth-right {
  background-color: #abc5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100vh;
  img {
    margin-top: 80px;
    width: 45%;
  }
}

.auth-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 3%;
}

.top-auth {
  width: 100%;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.auth-form-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.fg-pw {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #2b4e9b;
  }
}

.auth-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #4d4d4d;
  }

  h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #2b4e9b;
  }
}

.footer-copyrite {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #828282;
  }
}

@media screen and (max-width: 1171px) {
  .auth-form-container {
    width: 80%;
  }
}

@media screen and (max-width: 987px) {
  .auth-form-container {
    width: 100%;
  }
}

@media screen and (max-width: 821px) {
  .auth-form-container {
    width: 70%;
  }
  .auth-left {
    width: 100%;
  }
  .auth-right {
    display: none;
  }
}

@media screen and (max-width: 586px) {
  .auth-form-container {
    width: 90%;
  }
}

@media screen and (max-width: 472px) {
  .auth-form-container {
    width: 90%;
  }
  .auth-form-container {
    .css-jn01mi {
      margin-top: 30px !important;
      //   display: none !important;
    }
  }

  .top-auth {
    img {
      width: 30%;
    }
  }
}
